.app-input {

  &__textarea,
  &__text,
  &__password,
  &__number,
  &__select,
  &__datetime,
  &__datetime .ui-inputtext,
  &__daterange,
  &__daterange .ui-inputtext {
    width: 100%;
  }

  &__select {
    padding: 0.2rem;
  }

  &__textarea {
    min-height: 40px;
    resize: vertical;
  }

  &__datetime,
  &__daterange {
    .ui-datepicker {
      padding: 0;
      min-width: 300px;
      top: auto !important;
    }
  }
}