.start-loader{
    display: table-cell;
    width: 100vw;
    height: 100vh;
    vertical-align: middle;
    text-align: center;
    font-size: 15em;
    background-image: linear-gradient(to left top, rgb(75, 85, 200) 0%, rgb(185, 90, 185) 100%);
    color: cornflowerblue;
}