<form [formGroup]="form" (ngSubmit)="save()" class="app-form">
  <p-selectButton [options]="types" formControlName="type" (onChange)="changeType($event.value)"
    [style]="{marginBottom: '10px'}" styleClass="p-grid p-nogutter">
  </p-selectButton>

  <app-input type="select" optionLabel="name" label="Пользователь" [options]="users" [control]="form.controls.user">
  </app-input>
  <div class="p-grid">
    <div class="p-col-6">
      <app-input type="select" optionLabel="name" label="Категория" [options]="categories"
        [control]="form.controls.category" (selected)="selectCategory($event.value)"></app-input>
    </div>
    <div class="p-col-6">
      <app-input type="select" optionLabel="name" label="Подкатегория" [options]="subcategories"
        [control]="form.controls.subcategory"></app-input>
    </div>
  </div>
  <div class="p-grid">
    <div *ngIf="isExpense()" class="p-col-12" style="text-align: center">
      <button class="ui-button-success ui-button-rounded" type="button" (click)="openQrDialog()" pButton
        icon="pi pi-camera" label="Загрузить данные с чека"></button>
    </div>
    <div *ngIf="isExpense()" class="p-col-12">
      <p-accordion>
        <p-accordionTab header="Товары и услуги ({{ record.products.length }})">
          <app-products [list]="record.products" (createEvent)="createProduct($event)"
            (updateEvent)="updateProduct($event)" (deleteEvent)="deleteProduct($event)"></app-products>
        </p-accordionTab>
      </p-accordion>
    </div>
    <div class="p-col-6">
      <app-input type="datetime" label="Дата" [control]="form.controls.date">
      </app-input>
    </div>
    <div class="p-col-6">
      <app-input type="number" label="Сумма ({{ helpers.getCurrencySymbol() }})" [control]="form.controls.amount">
      </app-input>
    </div>
  </div>
  <app-input type="textarea" label="Примечание" [control]="form.controls.note">
  </app-input>

  <div class="app-form__actions">
    <button pButton type="submit" [label]="record ? 'Сохранить' : 'Добавить'" [disabled]="form.invalid"></button>
    <button pButton type="button" label="Отмена" class="ui-button-secondary" (click)="close()"></button>
  </div>
</form>

<p-toast [style]="{top: '60px'}"></p-toast>
