<div class="p-grid">
  <div class="app-analyze__chart-menu">
    <p-tabMenu [model]="charts"></p-tabMenu>
  </div>
  <div class="p-col-12">
    <router-outlet></router-outlet>
  </div>
  <div class="p-col-12">
    <app-table *ngIf="!loading; else loader" [tree]="true" [actionsCallback]="actionsCallback" [actionsSpan]=".7"
      [columns]="columns" [value]="records" [treeTogglerIndex]="1" [totalRecords]="records.length"></app-table>
  </div>
</div>


<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
