<div *ngIf="records$ | async as records; else loader" class="p-grid p-justify-center">
  <div class="p-col-10">
    <app-table *ngIf="records.length; else emptyTable" [columns]="recordColumns" [value]="records">
      <ng-template #actionsHeader>Действия</ng-template>
      <ng-template #actionsBody let-rowData="rowData" let-rowIndex="rowIndex">
        <p-button icon="pi pi-pencil" styleClass="ui-button-rounded ui-button-info"
          (click)="createOrUpdate(rowData.id)">
        </p-button>
        <p-button icon="pi pi-trash" styleClass="ui-button-rounded ui-button-danger" (click)="delete(rowData.id)">
        </p-button>
      </ng-template>
    </app-table>
  </div>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>

<ng-template #emptyTable>
  <app-empty-list></app-empty-list>
</ng-template>

<p-button icon="pi pi-plus" styleClass="fab-button ui-button-rounded ui-button-success" (click)="createOrUpdate()">
</p-button>
