<div class="p-grid p-nogutter p-dir-col p-align-center">
  <div class="p-col-12 analyze-menu">
    <p-tabMenu [model]="items"></p-tabMenu>
  </div>
  <div *ngIf="currentPath !== 'forecast' && currentPath !== 'planning'" class="period">
    <div class="period__text">Период выборки данных: </div>
    <div class="period__range">
      <app-input type="daterange" [control]="periodControl" placeholder="Выберите период"
        (selected)="selectedPeriod($event)">
      </app-input>
    </div>
  </div>
  <div class="p-col-11">
    <router-outlet></router-outlet>
  </div>
</div>
