<div class="p-grid">
  <div class="p-col-6">
    <apx-chart *ngIf="!loading; else loader" [series]="categoryChart.series" [chart]="categoryChart.chart"
      [labels]="categoryChart.labels" [title]="categoryChart.title" [legend]="categoryChart.legend"
      [tooltip]="categoryChart.tooltip"></apx-chart>
  </div>
  <div class="p-col-6">
    <apx-chart *ngIf="!loading; else loader" [series]="subcategoryChart.series" [chart]="subcategoryChart.chart"
      [labels]="subcategoryChart.labels" [title]="subcategoryChart.title" [legend]="subcategoryChart.legend"
      [tooltip]="subcategoryChart.tooltip"></apx-chart>
  </div>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>