<div class="p-grid p-justify-center">
  <div *ngIf="!products" class="p-col-6">
    <apx-chart *ngIf="!loading; else loader" [series]="userChartIncomes.series" [chart]="userChartIncomes.chart"
      [labels]="userChartIncomes.labels" [title]="userChartIncomes.title" [legend]="userChartIncomes.legend"
      [tooltip]="userChartIncomes.tooltip">
    </apx-chart>
  </div>
  <div class="p-col-6">
    <apx-chart *ngIf="!loading; else loader" [series]="userChartExpenses.series" [chart]="userChartExpenses.chart"
      [labels]="userChartExpenses.labels" [title]="userChartExpenses.title" [legend]="userChartExpenses.legend"
      [tooltip]="userChartExpenses.tooltip">
    </apx-chart>
  </div>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>