<form class="app-form" [formGroup]="form" (ngSubmit)="save()">
  <div class="p-grid">
    <div class="p-col-12" *ngIf="error">
      <p-message severity="error" [text]="error"></p-message>
    </div>
    <div class="p-col-12">
      <app-input label="Имя пользователя" [control]="form.controls.name"></app-input>
    </div>
  </div>

  <div class="app-form__actions">
    <button pButton type="submit" [label]="user ? 'Сохранить' : 'Добавить'" [disabled]="form.invalid"></button>
    <button pButton type="button" label="Отмена" class="ui-button-secondary" (click)="close()"></button>
  </div>
</form>
