<p-table [rows]="5" [paginator]="true" [scrollable]="true" [columns]="columns" [value]="value"
  (onSort)="onSort($event)">

  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col *ngFor="let col of columns" [style.width.px]="150 * (col.span || 1)">
      <ng-container *ngIf="actionsCol">
        <ng-container *ngTemplateOutlet="actionsCol"></ng-container>
      </ng-container>
      <ng-container *ngIf="!actionsCol && actionsHeader">
        <col [style.width.px]="150">
      </ng-container>
      <col>
    </colgroup>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [attr.pSortableColumn]="col.sortable !== false ? col.field : null">
        {{ col.header }}
        <p-sortIcon *ngIf="col.sortable !== false" [field]="col.field"></p-sortIcon>
      </th>
      <th *ngIf="actionsHeader">
        <ng-container *ngTemplateOutlet="actionsHeader"></ng-container>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData let-i="rowIndex" let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        {{ col.format ? col.format(getRowData(rowData, col.field), i, rowData) || '' : getRowData(rowData, col.field) }}
      </td>
      <td *ngIf="actionsBody">
        <ng-container *ngTemplateOutlet="actionsBody; context: { rowData: rowData, rowIndex: i, columns: columns }">
        </ng-container>
      </td>
    </tr>
  </ng-template>

</p-table>
