<form (ngSubmit)="save()">
  <ng-container *ngFor="let input of formInputs">
    <app-input *ngIf="input.show()" [type]="input.type || 'text'" [label]="input.label" [control]="input.getControl()"
      [mask]="input.mask" [placeholder]="input.placeholder">
    </app-input>
  </ng-container>

  <ng-container *ngFor="let link of links">
    <a *ngIf="link.show()" (click)="setType(link.type)">{{ link.label }}</a>
  </ng-container>

  <button pButton type="submit" [label]="type === 'login' ? 'Сохранить' : 'Отправить'"
    [disabled]="form.invalid"></button>
  <button pButton type="button" label="Отмена" class="ui-button-secondary" (click)="close()"></button>
</form>