<div class="p-grid p-justify-center p-align-center indicators">
  <div class="p-col-9">
    <div *ngIf="!loading; else loader" class="p-grid p-align-center p-justify-center">
      <div class="p-col-6">
        <div class="currency-rate block">
          <div class="currency-rate__title">Курс доллара на сегодня</div>
          <div class="currency-rate__text">
            {{ getFormatedCurrency(currencyData.current.last) }}
            (изменения за последние сутки
            <span [class]="getClassName(currencyData.current.changes)">
              {{ getFormatedCurrency(currencyData.current.changes) }}
            </span>)
          </div>
        </div>
      </div>
      <div class="p-col-6">
        <div class="currency-rate block">
          <div class="currency-rate__title">Курс доллара за прошлый месяц</div>
          <div class="currency-rate__text">
            {{ getFormatedCurrency(currencyData.prev.last) }}
          </div>
        </div>
      </div>
      <div class="p-col-8 p-grid p-align-center p-justify-center">
        <div class="p-col-6">
          <div class="block month-changes">
            Максимальное значение за текущий месяц составляет
            {{ getFormatedCurrency(currencyData.current.max) }}
            <ng-container *ngIf="currencyData.current.max - currencyData.prev.max">
              , что на
              <span [class]="getClassName(currencyData.current.max - currencyData.prev.max)">
                {{ getFormatedCurrency(currencyData.current.max - currencyData.prev.max, true) }}
                {{ getCompareText(currencyData.current.max - currencyData.prev.max)}}
              </span>
              чем за прошлый месяц
            </ng-container>
          </div>
        </div>
        <div class="p-col-6">
          <div class="block month-changes">
            Минимальное значение за текущий месяц составляет
            {{ getFormatedCurrency(currencyData.current.min) }}
            <ng-container *ngIf="currencyData.current.min - currencyData.prev.min">
              , что на
              <span [class]="getClassName(currencyData.current.min - currencyData.prev.min)">
                {{ getFormatedCurrency(currencyData.current.min - currencyData.prev.min, true) }}
                {{ getCompareText(currencyData.current.min - currencyData.prev.min)}}
              </span>
              чем за прошлый месяц
            </ng-container>
          </div>
        </div>
      </div>
      <div class="p-col-4">
        <div class="block month-average-percent">Возможно
          <span [class]="getClassName(analyzePercent)">
            {{ getCompareText(analyzePercent, true) }}
          </span>
          цен на импортные товары на
          <span [class]="getClassName(analyzePercent)">
            {{ helpers.formatNumber(analyzePercent > 0 ? analyzePercent : -analyzePercent) }}%
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="p-col-3">
    <ng-container *ngIf="!loading; else loader">
      <div class="block goods-changes">Цены на товары и услуги в среднем стали
        <span [class]="getClassName(inflation[0], true)">
          {{ getCompareText(inflation[0]) }}
        </span>
        на <span [class]="getClassName(inflation[0], true)">
          {{ getFormatedCurrency(inflation[1], true) }}
          ({{ helpers.formatNumber(inflation[0] > 0 ? inflation[0] : -inflation[0]) }}%)
        </span>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>